body{
margin:0px;
font-family: Okra, Helvetica, sans-serif;
}
.main-conatiner{
    margin-left: 120px;

}
.header-conatiner{
    display: flex;
    align-items: center;
    justify-content: left;
    /* margin-top: 10px; */
    margin: 10px auto;
    
}
.logo{
    margin-right: 20px;;
   
}
.location-search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border:0.5px solid silver; */
    border: 1px solid rgb(232, 232, 232);
    border-radius: 8px;
    padding:15px;
    gap:10px;
    width:58%;
    box-shadow: rgba(28, 28, 28, 0.08) 0px 2px 8px;
    /* box-shadow: 1px 2px 2px 2px  rgb(236, 235, 235); */
    transition: opacity 0.25s linear 0s, visibility 0.25s linear 0s, height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1) 0s;
 
}
.search{
    display: flex;
    align-items: center;
    gap:10px;
    

}
.location{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color:rgb(146, 147, 148);
    border-right:1px solid silver;
    padding-right: 10px;
}
.down-triangle{
    margin-left: 10px;
}
.search-text{
    font-size: 14px;
    color:rgb(146, 147, 148)

}
.log-in-section a
{   font-size:18px;
    text-decoration: none;
    color:rgb(146, 147, 148);
    font-weight:lighter;
}
.log-in-section{
    margin-left: 80px;
    display: flex;
    align-items: center;
    gap:50px;
}
.location-details{
    font-size: 12px;
    color:rgb(146, 147, 148);
    display: flex;
    gap:10px;
    margin-top: 50px;
}

.location-details .location-detail:hover{
    cursor: pointer;
    color:rgb(239, 79, 95);
    
    
}

location-details-last{
    color: rgb(207, 207, 207);
    /* opacity:0.8; */
    
}

.service-type{
    display: flex;
    align-items: center; 
    gap:50px;
    /* padding:40px 20px; */
    font-size: 20px;
    color:rgb(102, 102, 102);
    border-bottom: 0.5px solid rgb(230, 224, 224);
   
}
.delivery{
    display: flex;
    align-items: center;
    gap:15px;
    color: rgb(239, 79, 95);
    padding: 20px;
    border-bottom:2px solid rgb(239, 79, 95);

}
.logos{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
   
}
.logos-background-color-pink{
    background-color: rgb(252, 238, 192);;
}
.logos-background-color-gray{
    background-color: rgb(248, 248, 248);;
}
.logos img{
width: 100%;
height: 100%;
}
.dining{ 
    display: flex;
    align-items: center;
    gap:15px;
}
.night-life{
    display: flex;
    align-items: center;
    gap:15px;
}
.special{
    display: flex;
    align-items: center;
    gap:20px;
    margin:20px 0px; 
}
.filter-logo{
    display: flex;
    gap:5px;
    padding:8px 5px;
    border: 1px solid silver;
    border-radius: 8px;
    color: rgb(156, 156, 156);
}
.rating{
    padding:8px 5px;
    border: 1px solid silver;
    border-radius: 8px;
    color: rgb(156, 156, 156);
}
.pure-veg{
    padding:8px 5px;
    border: 1px solid silver;
    border-radius: 8px;
    color: rgb(156, 156, 156);

}
.cuisines{
    display: flex;
    gap:5px;
    padding:8px 5px;
    border: 1px solid silver;
    border-radius: 8px;
    color: rgb(156, 156, 156);
}
.more-filters{
    display: flex;
    gap:5px;
    padding:8px 5px;
    border: 1px solid silver;
    border-radius: 8px;
    color: rgb(156, 156, 156);
}
.inspiaration-container{
    padding-left: 130px;
    padding-top:20px;
    background-color: rgb(245, 241, 241);

}
.inspiaration-container h1{
    color:rgb(95, 95, 97);
    font-weight: lighter;
}
.inspiration{
    color: #1c1c1c;
    display: flex;
    box-sizing: border-box;
    gap:33px;
    padding:30px 0px;
    position:relative;
    
}
.inspiration-cards{
    width:150px;
    height:150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card1{
    width:150px;
    height:150px;
}
.card1 img{
    border-radius: 50%;
    width:100%;
    height:100%;
}
.card1-text{
   margin: 6px 0px 0px;
   font-size: 14 px;
   line-height: 18 px;
   font-weight: 500;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' black,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
    
  }
  .navigate{
    position:absolute;
    right:80px;
    top:85px;
    border-radius: 50%;
    border:4px solid pink;
    z-index:2;
    background-color: white;
  }
  .top-brands h1{
    margin:40px 0px;
    margin-left:130px;
    color: rgb(95, 95, 97);
    font-weight: lighter;
  }
  .card2-container{
    margin-left:130px;
  }
  .card2-container{
    display: flex;
    align-items: center;
    gap:30px;
  }
  .card2{
    width:140px;
    height:140px;
    border-radius:50%;
    border:1px solid silver;
    padding:5px 5px;
  }
  .first-card{
    /* background-color: rgb(17, 0, 255); */
    width:140px;
    height:140px;
    border-radius:50%;
    border:1px solid silver;
    padding:5px 5px;
    background-color: rgb(255, 196, 0);
  }
    
.first-card .sc{
    width:100%;
    height:100%;
    border-radius:inherit;
} 
.card2 img{ 
    width:100%;
    height:100%;
    border-radius:inherit;
  }
  .img-with-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:8px;
  }
  .card2-container{
    position: relative;
  }
  .navigate1{
    position:absolute;
    right:85px;
    top:60px;
    border-radius: 50%;
    border:4px solid pink;
    z-index:2;
    background-color: white;
  }
  .card2-time {
    color: rgb(95, 95, 97);
    font-weight: lighter;
  }
  .brand-name{
    color: rgb(95, 95, 97);
    font-weight: lighter;
    word-break: break-word;
    line-height: 1.2;
    box-sizing: border-box;
    text-align: center;
  }
  .delivery-restaurents{
    margin:40px 0px;
    margin-left:130px;
    color: rgb(95, 95, 97);
    font-weight: lighter;
  }
  #main-card-container{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:70px;
    margin-left:130px;
    padding-bottom: 20px;
  }
  #cards:hover{
    border: 1px  silver;
    box-shadow: 2px 2px 2px 2px rgb(233, 230, 230);
    /* transform:scale(1.2); */
    /* padding: 20px 20px; */
    transition: all .2s linear; 
  }
  #cards{
    position: relative;
    width:281px;
    padding:10px;
  }
  
  .image{
    width:281px;
    height:248px;
    border-radius: 15px;
    position: relative;
}
.image img{
    width:100%;
    height:100%;
    border-radius: 15px;
}
.promoted{
    position:absolute;
    top:10px;
    left:11px;
    padding:0px 5px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    border-radius: 2px;
}
.pro-off{
    position: absolute;
    bottom:150px;
    left:10px;
    background: rgb(217, 38, 98);
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding:0px 6px;
    line-height: 18px;
    margin: 0px 0px 10px;
}
.standard-off{
    position: absolute;
    bottom:120px;
    left:10px;
    background: rgb(37, 111, 239);
    font-size: 14px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding:0px 6px;
    line-height: 18px;
    margin: 0px 0px 10px;
}
.d-time{
    position: absolute;
   bottom:130px;
   left:220px;
   padding:2px;
   background-color: rgb(243, 244, 245);
   border-radius: 5px;
}
.r-name{
    font-size: 17px;
    font-weight: 500;
    color: rgb(28, 28, 28);
}
.r-name-ratings{
    padding:10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.ratings{
    display: flex;
    align-items: center;
    gap:4px;
    /* justify-content: space-between; */
    border-radius:6px;
    border: 1px solid rgb(36, 150, 63);
    background-color: green;
    padding:0 4px;
    height:20px;
    min-width:26px;
    font-size:13px;
}
.r-details-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid silver;
}
.r-details{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(105, 105, 105);
    max-width: 56%;
    padding-bottom:10px;
   
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(105, 105, 105);
    max-width: 40%;
}
.safe-protocol{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:10px;

}
.last-msg{
    font-size: 12px;
    text-align: left;
    color: rgb(130, 130, 130);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    line-height: 17px;
}
